h1 {
	color: blue;
}
.outlined {
	border:1px solid lightgrey;
	border-radius: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.scroll{
	height: 300px;
	overflow: scroll;
}
.errors p{
	color: red;
}
.success p{
	color: ;
}
#eventForm .dateContainer .form-control-feedback {
    top: 0;
    right: -15px;
}
.pad {
	margin-bottom: 25px;
}